.menu {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    font-family: Helvetica;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu__distance {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu__distance-radio {
        display: none;
}

.menu__distance-label {
    text-decoration: underline;
    margin-left: 5px;
}

.menu__distance-radio:checked + .menu__distance-label {
    font-weight: bold;
    text-decoration: none;
}